<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="delit.piwigoclient">

    <!--ignore error as manifest is merged with the main one which is indexable -->

    <application
        android:name="delit.piwigoclient.ui.MyApplication"
        tools:node="merge"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="UnusedAttribute">

        <activity
            tools:node="merge"
            android:name=".ui.PreferencesActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="api-8938561204297001672-604498.firebaseapp.com"
                    android:path="/config"/>
            </intent-filter>
        </activity>
        <activity
            tools:node="replace"
            android:launchMode="singleTop"
            android:name=".ui.FileSelectActivity"
            android:icon="@mipmap/ic_launcher_file_select"
            android:roundIcon="@mipmap/ic_launcher_file_select_round"
            android:logo="@drawable/ic_launcher_file_select_foreground"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.EditPages"
            android:configChanges="layoutDirection"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:stateNotNeeded="true"
            android:exported="true">

            <!-- enable this to place an icon on the app selection page for testing -->
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.APP_FILES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <category android:name="android.intent.category.APP_FILES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
                <category android:name="android.intent.category.APP_FILES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </activity>

        <service
            android:name=".piwigoApi.upload.BackgroundPiwigoUploadService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:configChanges="layoutDirection"
            android:exported="false"/>

    </application>

</manifest>