<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="delit.piwigoclient"
    android:installLocation="internalOnly">

    <application>
        <service
            android:name=".piwigoApi.upload.BackgroundPiwigoUploadService"
            android:exported="false"/>
    </application>

</manifest>